header {
    background: url(images/choco_page.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    margin: 0px 50px;
  }

  @media all and (min-width: 900px) and (max-width: 1150px){
    header{
      min-height: 710px;
    }
  }

  @media all and (min-width: 700px) and (max-width: 900px){
    header{
      min-height: 560px;
    }
  }

  @media all and (min-width: 500px) and (max-width: 700px){
    header{
      min-height: 350px;
    }
  }

  @media all and (min-width: 250px) and (max-width: 500px){
    header{
      min-height: 290px;
    }
  }

  .menu-large:hover {
    border-bottom: 2px solid white;
  }
  
  .section {
    padding-top: 4vw;
    padding-bottom: 4vw
  }

  .tabs .indicator {
    background: black;
  }

  .tabs .tab a, .tabs .tab a:active {
    background: transparent;
  }

  .insta , .twi {
    font-weight: bolder;
    
  }

  .sidebar {
    max-width: 200px;
  }

  .mobile-menu-container {
    border-bottom: 3px solid white;
    margin-bottom: 10px;
  }

  .mobile-menu-list:hover {
    background: brown
  }
  .btn-icons {
    margin: 0px 12px 10px 0px;
  }

  .photo-text {
    margin-top: -37px;
    
  }

  .photo-div {
    margin-bottom: 30px;
  }
